# Archivo .npmrc para configuración básica

# Registro de npm
registry=https://registry.npmjs.org/

# Si necesitas autenticarte con un token de acceso personal de GitHub:
# Cambia 'TOKEN' por tu token personal de acceso
//npm.pkg.github.com/:_authToken="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"

# Configuración para autenticarte en el registro privado de GitHub Packages (si es necesario)
@your-org:registry=https://npm.pkg.github.com

# Si tienes un nombre de usuario personalizado en el registro de npm
//registry.npmjs.org/:_authToken="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"

# Configuración de caché (si es necesario)
cache=~/.npm-cache

# Configuración para evitar instalar dependencias con versión de menor a mayor
save-exact=true
